---
interface Props {
	url: string;
	title: string;
	body: string;
	// href: string;
}

// const { url, href, title, body } = Astro.props;
const { url, title, body } = Astro.props;
---

<li class="link-card odc-mr-1 odc-ml-1">
	<!-- <a href={href}> -->
	<a class="odc-fdc odc-align-center">
		<img src={url} alt={title}>
		<h3 class="odc-mt-2 odc-mb-2 odc-ta-center">
			{title}
		</h3>
		<p class="odc-fs-xx-md odc-ta-center">
			{body}
		</p>
	</a>
</li>
