---
import { ConsultationImage } from "../assets/constants";
const { name, src } = ConsultationImage[0];
import Feature from "../components/Feature.astro"
---
<div class="odc-mt-5">
    <section class="odc-container odc-fdr odc-fd-r-rev odc-align-center">
        <Feature
            hasSubtitle = {false}
            isHeader1 = {false}
            title_1 = 'Unleash your ideas with '
            title_2 = 'our '
            title_3 = ' development services.'
            title_4 = ''
            title_gradient = 'cutting-edge mobile application'
            isCircleVisible = {false}
            subtitle = ''
            body_1 = 'Are you ready to transform your innovative concepts into dynamic, user-friendly mobile applications? Look no further! Our team of expert developers and designers is here to turn your vision into reality.'
            body_2 = ''
            hasButton = {true}
            cta_name = 'Book For Consultation'
            url = ''
            src = {src}
            name = {name}
        >
        </Feature>
    </section>
</div>