---
import { HeroImage } from "../assets/constants";
import Feature from "../components/Feature.astro";

const { name, src } = HeroImage[0];
---

<div class="odc-hero-container">
    <section class="odc-container odc-fdr odc-align-center">
        <Feature
            hasSubtitle = {false}
            isHeader1 = {true}
            title_1 = 'Elevate Your Business '
            title_2 = 'with '
            title_3 = ' Innovations'
            title_4 = ''
            title_gradient ='Bespoke Software'
            isCircleVisible = {false}
            subtitle = ''
            body_1 = 'Our suite of services is designed to transform your vision into reality, leveraging innovation and expertise to steer your business toward achievement.'
            body_2 = ''
            hasButton = {true}
            cta_name = 'Explore Our Services'
            src = {src}
            name = {name}
        >
    </section>
</div>