---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }
import { OdecciInfo, IconLinks } from "../assets/constants.js";
// const { href, body } = Astro.props;
---

<nav class="odc-navbar-primary">
	<ul class="odc-container">
		<div class="odc-row odc-gap-1">
			<li class="odc-site-links odc-text-white">
				{OdecciInfo.email.value}
			</li>
			<li class="odc-site-links odc-text-white">
				{OdecciInfo.contactNumber.value}
			</li>
		</div>

		<div class="odc-row odc-gap-1">
			{IconLinks.map((link, index) => (
				<li class="odc-socmed-links">
					<a href={link.url}>
						<img src={link.icon} alt={`${link.name} Icon`} />
					</a>
				</li>
			))}
		</div>
	</ul>
</nav>
