---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }
import { OdecciInfo, IconLinks } from "../assets/constants.js";
// const { href, body } = Astro.props;
---

<nav class="odc-navbar-primary">
	<ul class="odc-container">
		<div class="odc-row odc-gap-1">
			<li class="odc-site-links odc-text-white">
				{OdecciInfo.email.value}
			</li>
			<li class="odc-site-links odc-text-white">
				{OdecciInfo.contactNumber.value}
			</li>
		</div>

		<div class="odc-row odc-gap-1">
			{IconLinks.map((link, index) => (
				<li>
					<a href={link.url}>
						<img src={link.icon} alt={`${link.name} Icon`} />
					</a>
				</li>
			))}
		</div>
	</ul>
</nav>

<style>
	img {
		-webkit-filter: invert(100%);
		filter: invert(100%);
		width: 2.6rem;
		height: 2.6rem;
		background-size: 100% 100%;
	}
	li:last-of-type > img {
		width: 3rem;
		height: 6rem;
	}
</style>