---
import { OdecciRoadmap } from "../assets/constants.js";
---

<section class="odc-roadmap-section odc__sticky__container">
    <div class="odc__sticky">
        <div class="odc-wrapper odc__scroll__section">
            <div class="odc-map-wrapper odc-fdr" data-map-wrapper>
                <div class="odc-map__inner-wrapper odc-bg-gradient odc-fdr">
                    <div class="odc-map__box odc-fdc">
                        <h4 class="odc-map__header odc-text-primary">
                            {OdecciRoadmap.item1.name}
                        </h4>
                        <img class="odc-roadmap__image" src={OdecciRoadmap.item1.src} alt={OdecciRoadmap.item1.name}>
                    </div>
                    <div class="odc-text-wrapper odc-fdc odc-justify-space-between odc-ml-10">
                        <p class="odc-fs-x-md odc-text-primary">
                            <span>
                                This is where it all begins. We sit down with you to understand your vision, goals, and requirements. Through in-depth discussions, we grasp the essence of your project and map out a strategic plan.
                            </span>
                        </p>
                        <button data-btn-stay-hovered="false">Stay Open</button>
                    </div>
                </div>
            </div>
            <div class="odc-map-wrapper odc-fdr" data-map-wrapper>
                <div class="odc-map__inner-wrapper odc-bg-gradient odc-fdr">
                    <div class="odc-map__box odc-fdc">
                        <h4 class="odc-map__header odc-text-primary">
                            {OdecciRoadmap.item2.name}
                        </h4>
                        <img class="odc-roadmap__image" src={OdecciRoadmap.item2.src} alt={OdecciRoadmap.item2.name}>
                    </div>
                    <div class="odc-text-wrapper odc-fdc odc-justify-space-between odc-ml-10">
                        <p class="odc-fs-x-md odc-text-primary">
                            <span>
                                This is where it all begins. We sit down with you to understand your vision, goals, and requirements. Through in-depth discussions, we grasp the essence of your project and map out a strategic plan.
                            </span>
                        </p>
                        <button data-btn-stay-hovered="false">Stay Open</button>
                    </div>
                </div>
            </div>
            <div class="odc-map-wrapper odc-fdr" data-map-wrapper>
                <div class="odc-map__inner-wrapper odc-bg-gradient odc-fdr">
                    <div class="odc-map__box odc-fdc">
                        <h4 class="odc-map__header odc-text-primary">
                            {OdecciRoadmap.item3.name}
                        </h4>
                        <img class="odc-roadmap__image" src={OdecciRoadmap.item3.src} alt={OdecciRoadmap.item3.name}>
                    </div>
                    <div class="odc-text-wrapper odc-fdc odc-justify-space-between odc-ml-10">
                        <p class="odc-fs-x-md odc-text-primary">
                            <span>
                                This is where it all begins. We sit down with you to understand your vision, goals, and requirements. Through in-depth discussions, we grasp the essence of your project and map out a strategic plan.
                            </span>
                        </p>
                        <button data-btn-stay-hovered="false">Stay Open</button>
                    </div>
                </div>
            </div>
            <div class="odc-map-wrapper odc-fdr" data-map-wrapper>
                <div class="odc-map__inner-wrapper odc-bg-gradient odc-fdr">
                    <div class="odc-map__box odc-fdc">
                        <h4 class="odc-map__header odc-text-primary">
                            {OdecciRoadmap.item4.name}
                        </h4>
                        <img class="odc-roadmap__image" src={OdecciRoadmap.item4.src} alt={OdecciRoadmap.item4.name}>
                    </div>
                    <div class="odc-text-wrapper odc-fdc odc-justify-space-between odc-ml-10">
                        <p class="odc-fs-x-md odc-text-primary">
                            <span>
                                This is where it all begins. We sit down with you to understand your vision, goals, and requirements. Through in-depth discussions, we grasp the essence of your project and map out a strategic plan.
                            </span>
                        </p>
                        <button data-btn-stay-hovered="false">Stay Open</button>
                    </div>
                </div>
            </div>
            <div class="odc-map-wrapper odc-fdr" data-map-wrapper>
                <div class="odc-map__inner-wrapper odc-bg-gradient odc-fdr">
                    <div class="odc-map__box odc-fdc">
                        <h4 class="odc-map__header odc-text-primary">
                            {OdecciRoadmap.item5.name}
                        </h4>
                        <img class="odc-roadmap__image" src={OdecciRoadmap.item5.src} alt={OdecciRoadmap.item5.name}>
                    </div>
                    <div class="odc-text-wrapper odc-fdc odc-justify-space-between odc-ml-10">
                        <p class="odc-fs-x-md odc-text-primary">
                            <span>
                                This is where it all begins. We sit down with you to understand your vision, goals, and requirements. Through in-depth discussions, we grasp the essence of your project and map out a strategic plan.
                            </span>
                        </p>
                        <button data-btn-stay-hovered="false">Stay Open</button>
                    </div>
                </div>
            </div>
            <div class="odc-map-wrapper odc-fdr" data-map-wrapper>
                <div class="odc-map__inner-wrapper odc-bg-gradient odc-fdr">
                    <div class="odc-map__box odc-fdc">
                        <h4 class="odc-map__header odc-text-primary">
                            {OdecciRoadmap.item6.name}
                        </h4>
                        <img class="odc-roadmap__image" src={OdecciRoadmap.item6.src} alt={OdecciRoadmap.item6.name}>
                    </div>
                    <div class="odc-text-wrapper odc-fdc odc-justify-space-between odc-ml-10">
                        <p class="odc-fs-x-md odc-text-primary">
                            <span>
                                This is where it all begins. We sit down with you to understand your vision, goals, and requirements. Through in-depth discussions, we grasp the essence of your project and map out a strategic plan.
                            </span>
                        </p>
                        <button data-btn-stay-hovered="false">Stay Open</button>
                    </div>
                </div>
            </div>
            <div class="odc-map-wrapper odc-fdr" data-map-wrapper>
                <div class="odc-map__inner-wrapper odc-bg-gradient odc-fdr">
                    <div class="odc-map__box odc-fdc">
                        <h4 class="odc-map__header odc-text-primary">
                            {OdecciRoadmap.item7.name}
                        </h4>
                        <img class="odc-roadmap__image" src={OdecciRoadmap.item7.src} alt={OdecciRoadmap.item7.name}>
                    </div>
                    <div class="odc-text-wrapper odc-fdc odc-justify-space-between odc-ml-10">
                        <p class="odc-fs-x-md odc-text-primary">
                            <span>
                                This is where it all begins. We sit down with you to understand your vision, goals, and requirements. Through in-depth discussions, we grasp the essence of your project and map out a strategic plan.
                            </span>
                        </p>
                        <button data-btn-stay-hovered="false">Stay Open</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
